body{

    background-color: rgb(37, 22, 3);
    font: normal 15pt arial;
    margin: auto;
}
header{
    color: bisque;
    font: normal 15pt arial;
    text-align: center;
    margin: auto;
}
section{
    background: rgb(12, 1, 1);
    border-radius: 10px;
    padding: 500px;
    width: 500px;
    margin: auto;
    

}
footer{
    color: bisque;
    font: normal 15pt arial;
    text-align: center;
    margin: auto;
}