body{
    
    background-color: bisque;
    font: normal 15pt arial;
}
header{
    background-color: bisque;
    font: normal 15pt arial;
    text-align: center;
}
section{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}
footer{
    background-color: bisque;
    font: normal 15pt arial;
    text-align: center;
}