body{

    background-color: rgb(177, 36, 118);
    font: normal 15pt arial;
    margin: auto;
}
header{
    color: rgb(37, 146, 61);
    font: normal 15pt arial;
    text-align: center;
    margin: auto;
}
section{
    background: rgb(156, 149, 149);
    border-radius: 10px;
    padding: 500px;
    width: 500px;
    margin: auto;
    

}
footer{
    color: rgb(15, 12, 8);
    font: normal 15pt arial;
    text-align: center;
    margin: auto;
}